// ! fonts sz lh ect
$fz-h1-d: 3rem;
$fz-h2-d: 2.125rem;
$fz-h3-d: 1.5rem;
$fz-h4-d: 1.25rem;
$fz-b-d: 1rem;
$fz-btn-d: 1.125rem;
$fz-h1-m: 2.125rem;
$fz-h2-m: 1.5rem;
$fz-h3-m:  1.25rem;
$fz-b-m: 1rem;
$fz-btn-m: 1.0625rem;
$fz-picture: .8125rem;
$fw-b: 700;
$fw-r: 400;
$fw-l: 300;

// ! colors
$clr-white: #fff;
$clr-main: #263238;
$clr-accent: #E74C3C;
$clr-primary: #0E4DA4;
