@use '_fonts';
@use '_vars' as *;
// service
.h1, .h2, .h3 {
    font-family: 'Roboto-Bold', sans-serif;
    font-weight: $fw-b;
    line-height: 1.2;
    color: $clr-main;
}
.h1 {
    font-size: $fz-h1-m;
    letter-spacing: -0.5px;
}
.h2 {
    font-size: $fz-h2-m;
}
.h3 {
    font-size: $fz-h3-m;
}
.active {
    color: $clr-accent;
}
.story-content {
    line-height: 25px;
}
.brake-line {
    display: block;
    width: 100%;
    height: 4px;
    background-color: #000000;
}
.picture-description {
    font-family: 'Roboto-Light', sans-serif;
    font-size: $fz-picture;
    font-weight: $fw-l;
    line-height: 20px;

}
a {
    text-decoration: none;
    color: $clr-main;
} 
/* !general */
body {
    font-family: 'Roboto-Regular', sans-serif;
    color: $clr-main;
}
.container {
    $max-width: 82.0625rem;
    $pading: 1rem;

    width: min($max-width, 100%);
    margin-inline: auto;
    padding: 0 $pading;
}
.columns {
    display: grid;
    gap: 1rem;
}
/* ov */
.--head {
    .h1 {
        padding-top: .625rem;
        padding-bottom: 1.4375rem;
    }
    .story-content {
        padding-bottom: 1.375rem;
    }
}
.card {
    .card-owner {
        display: grid;
        grid-template-areas: 
        "i name d"
        "i count d";
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 5rem 8.8125rem 1fr;
        padding-bottom: 1.375rem;
        img {
            grid-area: i;
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
        .owner-name {
            grid-area: name;
            font-family: 'Roboto-Bold', sans-serif;
            font-weight: $fw-b;
        }
        .owner-count {
            grid-area: count;
            font-family: 'Roboto-Regular', sans-serif;
            font-size: $fz-picture;
        }
        .owner-time-publish {
            grid-area: d;
            align-self: end;
            justify-self: end;
            font-family: 'Roboto-Bold', sans-serif;
            font-weight: $fw-b;
        }
        
    }
}
.crumbs > ul {
    display: flex;
    margin: 0;
    padding: 0;
    > li {
        list-style-type: none;
    }
    a {
        font-family: 'Roboto-Bold', sans-serif;
        font-weight: $fw-b;
        text-transform: uppercase;
    }
}

@media (min-width: 50em) {
    .h1 {
        font-size: $fz-h1-d;
    }
    .h2 {
        font-size: $fz-h2-d;
    }
    .h3 {
        font-size: $fz-h3-d;
    }
    .h4 {
        font-size: $fz-h4-d;
        font-weight: $fw-b;
    }
    .columns {
        grid-auto-flow: column;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
}